<?xml version="1.0"?>
<robot name="neslihan" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find neslihan_action)/urdf/neslihan_base.xacro" />
    <xacro:include filename="$(find neslihan_action)/urdf/neslihan_inertia.xacro" />
    <xacro:include filename="$(find neslihan_action)/urdf/neslihan_wheel.xacro" />
    <xacro:include filename="$(find neslihan_action)/urdf/neslihan_lidar.xacro" />
    <xacro:include filename="$(find neslihan_action)/urdf/neslihan_imu.xacro" />

    <!-- Chassis -->
    <xacro:neslihan_base />

    <!-- Wheels -->
    <xacro:neslihan_wheel xyz_pose="0.29462 -0.163 0.0" rpy_pose="-1.570796 0 0" side1="right" side2="front" />
    <xacro:neslihan_wheel xyz_pose="-0.29462 -0.163 0.0" rpy_pose="-1.570796 0 0" side1="left" side2="front" />
    <xacro:neslihan_wheel xyz_pose="0.29462 0.163 0.0" rpy_pose="-1.570796 0 0" side1="right" side2="back" />
    <xacro:neslihan_wheel xyz_pose="-0.29462 0.163 0.0" rpy_pose="-1.570796 0 0" side1="left" side2="back" />

    <!-- LIDAR -->
    <xacro:neslihan_lidar />

    <!-- IMU Sensor-->
    <xacro:neslihan_imu />

    
</robot>